@font-face {
    font-family: valoon;
    src: url(fonts/Valoon.ttf);
}

@font-face {
    font-family: lemon-milk;
    src: url(fonts/lemon_milk/LEMONMILK-RegularItalic.otf);
}

@font-face {
    font-family: bit_pusab;
    src: url(fonts/8_bit_pusab/8-bit-pusab.ttf);
}

body {
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: row;
}

img {
    width: 900px;
    height: 800px;
}

#info-box {
    display: flex;
    background-color: #F0F8FF;
    width: 600px;
    align-items: center;
    justify-content: center;
}

.sign-up-form{
    background-color:#faf0e6;
    display: flex;
    flex-direction: column;
    border-width: 0px;
    height: 550px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.label-div {
    display: flex;
    flex-direction: column;
}

p {
    color: black;
    margin-top: 8px;
}


h2 {
    cursor:default;
    margin-top: 0px;
    font-family: valoon;
    font-size: 45px;
    color: black;
    margin-left: 15px;
}

label, input {
    margin-left: 125px;
    margin-right: 100px;
}


label {
    font-family: lemon-milk;
    color: black;
}

input {
    border-style: solid;
    border-color: black;
    width: 200px;
    margin-bottom: 39px;
    padding: 10px;
    border-radius: 5px;
}


.submit-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

button {
    font-family: bit_pusab;
    cursor: pointer;
    background-color: #FFB6C1;
    color: white;
    border-radius: 5px;
    width: 130px;
    height: 40px;
}

button:hover {
    background-color: #ffa1af;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}